<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <title>Lost Pet Locator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="front_page">
    <!-- Create a header for the web page-->
    <div class="container">
        <div class="header" style="text-align: center">
            <h1>Lost Pet Locator</h1>
            <p></p>
        </div>
        <!-- Create the links to lost and found pet forms -->
        <div class="choice">
            <div class="row">
                <!-- Make the row into 2 columns for the buttons to report a lost or found pet and one column for the map-->
                <!-- The first column will have the button to file a report -->
                <div class="col-md-6" id="report">
                    <!-- Header for choosing the type of report to file -->
                    <h2></h2>
                    <a href="/lost_send" class="btn btn-default" role="button">Report a Lost Pet</a>
                    <a href="/found_send" class="btn btn-default" role="button">Report a Found Pet</a>
                </div>
                <!-- The second column will have the button to report a found pet -->
                <div class="col-md-6" id="Map">
                    <h2></h2>
                    <a href="/map" class="btn btn-default" role="button">Map</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pet-img">
        <img src="../static/Images/pets-1920w.png">
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>